-
    var subCategory = {
        0: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        1: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        2: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        3: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        4: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        5: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        6: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        7: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        8: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        9: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        10: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        11: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        12: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        13: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        14: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        15: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        16: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        17: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        18: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        },
        19: {
            'name': 'Подкатегория каталога',
            'link': 'catalog-category-lvl-last.html'
        }
    };

    var sortGoods = {
        0: {
            'name' : 'По алфавиту',
            'id' : '1'
        },
        1: {
            'name': 'Способ 2',
            'id' : '2'
        },
        2: {
            'name': 'Способ 3',
            'id' : '3'
        },
        3: {
            'name': 'Способ 4',
            'id' : '4'
        },
    };

    var products = {
        0: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-1'
        },
        1: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-2'
        },
        2: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-3'
        },
        3: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-4'
        },
        4: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-5'
        },
        5: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-6'
        },
        6: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-7'
        },
        7: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-8'
        },
        8: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-9'
        },
        9: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-10'
        },
        10: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-11'
        },
        11: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-12'
        },
    };

section.catalog-cat-sect
    h1.page-header Категория каталога (например Семена)
    .row.subcat-cards-wrapper
        each val, key in subCategory
            .col-12.col-sm-6.col-md-4.col-lg-3.d-flex.align-items-center.justify-content-around
                a(class='subcat-card_link' href=val.link)=val.name
    .row.subcat-open_block
        .col-12.d-flex.justify-content-around.align-items-end
            a(class='subcat-open_btn' href= 'javascript:void(0)') Развернуть список

section.prods-page
    .sort-section
        h2.hidden-heading 1
        .row
            .col-11.col-sm-7.col-md-6.col-lg-5.col-xl-4.filter_block.form_inputs.d-flex.align-items-center.justify-content-between
                span(class='form-filter_span') Сортировать:
                .select.wrapper
                    .select-header
                        span.select-current
                        span.select-open
                    ul.select-list
                        each val, key in sortGoods
                            li.select_options(data-value=val.id)
                                span.options_span=val.name
            input(type='hidden' name='payment' value='')


    h2.hidden-heading 1
    .row
        each val, key in products
            .col-12.col-sm-6.col-lg-4.sets_card.d-flex.justify-content-around
                .slider_card.slider-card_narrow
                    .discount-card_top
                        a(class='card-top_link' href=val.link)
                        img(class='card-top_img' src=val.img alt=val.alt)
                        .discount-block -10%
                        .card-icons_block
                            a(class='card-icon icon-star' href='#')
                                img(class='i-svg' src=val.icon1 alt='звезда')
                            a(class='card-icon' href='#')
                                img(class='i-svg' src=val.icon2 alt='категория 1')
                            a(class='card-icon' href='#')
                                img(class='i-svg' src=val.icon3 alt='категория 2')
                    .discount-card_bottom
                        .discount-card_description
                            span.goods-category=val.category
                            span.goods-title=val.name
                            .row.discount-card_price
                                .col-5
                                    .new-price_block
                                        span.new-price=val.newPrice
                                        a(class='order-conditions' href='#')=val.conditions
                                .col-7
                                    span.old-price=val.oldPrice
                        .row
                            .col-6.buy-block
                                .product-qty_block
                                    span.prod-qty_minus.product-qty_btn -
                                    input.product_qty.type_num('maxlength'='3' value=0)
                                    span.prod-qty_plus.product-qty_btn +
                            .col-6.buy-btn-col
                                a(class='btn card-btn buy-btn' href='javascript:void(0)') Купить


    .row.justify-content-around
        .col-12.col-md-8.col-lg-6.d-flex.flex-column.align-items-center
            a(class='btn show-btn' href='javascript:void(0)') Показать ещё
            .pagination-wrapper
                ul.pagination-list.d-flex.align-items-end.justify-content-between
                    li.pagination-item
                        span.pagination-span
                    li.pagination-item
                        span.pagination-span.span-page 1
                    li.pagination-item
                        a(href='#') 2
                    li.pagination-item
                        a(href='#') 3
                    li.pagination-item
                        span.pagination-span  ...
                    li.pagination-item
                        a(href='#') 12
                    li.pagination-item
                        a.pagination-span.span-next(href='javascript:void(0)')
