-
    var addProduct1 = {
        0:{
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category' : 'Семена овощей',
            'name' : 'Название продукта может быть в несколько строк',
            'newPrice' : '119,50 ₽',
            'oldPrice' : '162,50 ₽',
            'conditions' : 'Условия заказа',
            'icon1' : 'img/discount-goods-sect/star-regular.svg',
            'icon2' : 'img/discount-goods-sect/icon-2.svg',
            'icon3' : 'img/discount-goods-sect/icon-3.svg',
            'discount' : true,
            'link' : 'prod-card.html',
            'alt' : 'семена-1'
        },
        1: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1' : 'img/discount-goods-sect/star-regular.svg',
            'icon2' : 'img/discount-goods-sect/icon-2.svg',
            'icon3' : 'img/discount-goods-sect/icon-3.svg',
            'discount' : true,
            'link' : 'prod-card.html',
            'alt' : 'семена-2'
        },
        2: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1' : 'img/discount-goods-sect/star-regular.svg',
            'icon2' : 'img/discount-goods-sect/icon-2.svg',
            'icon3' : 'img/discount-goods-sect/icon-3.svg',
            'discount' : true,
            'link' : 'prod-card.html',
            'alt' : 'семена-3'
        },
        3: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1' : 'img/discount-goods-sect/star-regular.svg',
            'icon2' : 'img/discount-goods-sect/icon-2.svg',
            'icon3' : 'img/discount-goods-sect/icon-3.svg',
            'discount' : true,
            'link' : 'prod-card.html',
            'alt' : 'семена-4'
        },
        4: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-3'
        },
        5: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-4'
        },
    };

    var addProduct2 = {
        0: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-1'
        },
        1: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-2'
        },
        2: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-3'
        },
        3: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-4'
        },
    };


section.lk-worker-section.worker-article-section
    h1.hidden-heading 1
    .row
        .col-12.col-md-4.col-lg-3
            include _lk-worker-menu-mobile.pug
            include _lk-worker-menu.pug
        .col-12.col-md-8.col-lg-9
            section.article-section
                h2.page-header ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                .card-date 25.11.2020
                p.article-text-black Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                .row
                    .col-12
                        img.article-img(src='img/news-article/1.jpg' alt='Изображение')
                .description_block
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.

            section.slider-section.discount-goods
                .row
                    .col-12
                        h2.slider-header Добавьте товар в комплект
                    .col-12.slider
                        .owl-carousel.seeds-slider.owl-stage
                            each val, key in addProduct1
                                .sets_card.d-flex.justify-content-around
                                    .slider_card.slider-card_narrow
                                        .discount-card_top
                                            a(class='card-top_link' href=val.link)
                                            img(class='card-top_img' src=val.img alt=val.alt)
                                            .discount-block -10%
                                            .card-icons_block
                                                a(class='card-icon icon-star' href='#')
                                                    img(class='i-svg' src=val.icon1 alt='звезда')
                                                a(class='card-icon' href='#')
                                                    img(class='i-svg' src=val.icon2 alt='категория 1')
                                                a(class='card-icon' href='#')
                                                    img(class='i-svg' src=val.icon3 alt='категория 2')
                                        .discount-card_bottom
                                            .discount-card_description
                                                span.goods-category=val.category
                                                span.goods-title=val.name
                                                .row.discount-card_price
                                                    .col-6.col-xl-5
                                                        .new-price_block
                                                            span.new-price=val.newPrice
                                                            a(class='order-conditions' href='#')=val.conditions
                                                    .col-6.col-xl-7
                                                        span.old-price=val.oldPrice
                                            .row
                                                .col-6.buy-block
                                                    .product-qty_block
                                                        span.prod-qty_minus.product-qty_btn -
                                                        input.product_qty.type_num('maxlength'='3' value=0)
                                                        span.prod-qty_plus.product-qty_btn +
                                                .col-6.buy-btn-col
                                                    a(class='btn card-btn buy-btn' href='javascript:void(0)') Добавить
                .description_block
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                .row
                    .col-12
                        h2.slider-header Добавьте товар в комплект
                    .col-12.slider
                        .owl-carousel.seeds-slider.owl-stage
                            each val, key in addProduct2
                                .sets_card.d-flex.justify-content-around
                                    .slider_card.slider-card_narrow
                                        .discount-card_top
                                            a(class='card-top_link' href=val.link)
                                            img(class='card-top_img' src=val.img alt=val.alt)
                                            .discount-block -10%
                                            .card-icons_block
                                                a(class='card-icon icon-star' href='#')
                                                    img(class='i-svg' src=val.icon1 alt='звезда')
                                                a(class='card-icon' href='#')
                                                    img(class='i-svg' src=val.icon2 alt='категория 1')
                                                a(class='card-icon' href='#')
                                                    img(class='i-svg' src=val.icon3 alt='категория 2')
                                        .discount-card_bottom
                                            .discount-card_description
                                                span.goods-category=val.category
                                                span.goods-title=val.name
                                                .row.discount-card_price
                                                    .col-6.col-xl-5
                                                        .new-price_block
                                                            span.new-price=val.newPrice
                                                            a(class='order-conditions' href='#')=val.conditions
                                                    .col-6.col-xl-7
                                                        span.old-price=val.oldPrice
                                            .row
                                                .col-6.buy-block
                                                    .product-qty_block
                                                        span.prod-qty_minus.product-qty_btn -
                                                        input.product_qty.type_num('maxlength'='3' value=0)
                                                        span.prod-qty_plus.product-qty_btn +
                                                .col-6.buy-btn-col
                                                    a(class='btn card-btn buy-btn' href='javascript:void(0)') Добавить
                .description_block
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    p.article-text-gray Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                .row
                    .col-12.sets-btn-block.d-flex.justify-content-around
                        a(class='return-btn' href='lk-worker-news.html') Вернуться к списку новостей