-
    var products = {
        0: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-1'
        },
        1: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-2'
        },
        2: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-3'
        },
        3: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-4'
        },
        4: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-5'
        },
        5: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-6'
        },
        6: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-7'
        },
        7: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-8'
        },
        8: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-9'
        },
        9: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-10'
        },
        10: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-11'
        },
        11: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'lk-worker-card.html',
            'alt': 'семена-12'
        },
    };

section.lk-worker-section.worker-card-section
    h2.hidden-heading 1
    .row
        .col-12.col-md-4.col-lg-3
            include _lk-worker-menu-mobile.pug
            include _lk-worker-menu.pug
        .col-12.col-md-8.col-lg-9
            .row
                .col-12
                    .personal_header-block
                        .row.justify-content-between.align-items-end
                            .col-12.col-sm-8
                                h1.page-header Категория каталога
                            .col-12.col-sm-4.d-flex.justify-content-sm-end
                                a.edit-btn(href='lk-worker-catalog.html') В начало
            section.worker-catalog-section.prods-page.prod-section
                h2.hidden-heading 1
                .row
                    .col-12
                        .search_block
                            a(class='search-btn' href='javascript:void(0)')
                                img(src='img/header-icons/search-icon.svg' alt='Кнопка поиска')
                            input(class='header-search' type='search' placeholder='Найти: Помидоры')
                .row.favorite-cards
                    each val, key in products
                        .col-12.col-sm-6.col-xl-4.d-flex.justify-content-around.slider-card_narrow
                            .slider_card
                                .discount-card_top
                                    a(class='card-top_link' href=val.link)
                                    img(class='card-top_img' src=val.img alt=val.alt)
                                    .discount-block -10%
                                    .card-icons_block
                                        a(class='card-icon icon-star' href='#')
                                            img(class='i-svg' src=val.icon1 alt='звезда')
                                        a(class='card-icon' href='#')
                                            img(class='i-svg' src=val.icon2 alt='категория 1')
                                        a(class='card-icon' href='#')
                                            img(class='i-svg' src=val.icon3 alt='категория 2')
                                .discount-card_bottom
                                    .discount-card_description
                                        span.goods-category=val.category
                                        span.goods-title=val.name
                                        .row.discount-card_price
                                            .col-5
                                                .new-price_block
                                                    span.new-price=val.newPrice
                                                    a(class='order-conditions' href='#')=val.conditions
                                            .col-7
                                                span.old-price=val.oldPrice
                                    .row
                                        .col-6.buy-block
                                            .product-qty_block
                                                span.prod-qty_minus.product-qty_btn -
                                                input.product_qty.type_num('maxlength'='3' value=0)
                                                span.prod-qty_plus.product-qty_btn +
                                        .col-6.buy-btn-col
                                            a(class='btn card-btn buy-btn' href='javascript:void(0)') Купить

                .row.justify-content-around
                    .col-12.col-sm-10.col-md-8.col-lg-6.d-flex.flex-column.align-items-center
                        a(class='btn view-button' href='javascript:void(0)') Показать ещё
                        .pagination-wrapper
                            ul.pagination-list.d-flex.align-items-end.justify-content-between
                                li.pagination-item
                                    span.pagination-span
                                li.pagination-item
                                    span.pagination-span.span-page 1
                                li.pagination-item
                                    a(href='#') 2
                                li.pagination-item
                                    a(href='#') 3
                                li.pagination-item
                                    span.pagination-span  ...
                                li.pagination-item
                                    a(href='#') 12
                                li.pagination-item
                                    a.pagination-span.span-next(href='javascript:void(0)')

                        a(class='return-btn' href='lk-worker-catalog.html') В начало