-
    var  setInclude = {
        0: {
            'name' : 'Набор включает в себя:',
            'txt' : 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.',
            'subLevel' : {
                0: {
                    'img': 'img/seeds-sect/seeds-sect_1.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-1'
                },
                1: {
                    'img': 'img/seeds-sect/seeds-sect_3.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-2'
                },
                2: {
                    'img': 'img/seeds-sect/seeds-sect_4.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-3'
                },
            },
        },
        1: {
            'name': 'Набор включает в себя:',
            'txt' : 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.',
            'subLevel': {
                0: {
                    'img': 'img/seeds-sect/seeds-sect_1.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-1'
                },
                1: {
                    'img': 'img/seeds-sect/seeds-sect_3.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-2'
                },
                2: {
                    'img': 'img/seeds-sect/seeds-sect_4.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-3'
                },
                3: {
                    'img': 'img/seeds-sect/seeds-sect_1.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-1'
                },
                4: {
                    'img': 'img/seeds-sect/seeds-sect_3.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-2'
                },
                5: {
                    'img': 'img/seeds-sect/seeds-sect_4.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-3'
                },
            },
        },
        2: {
            'name': 'Набор включает в себя:',
            'txt' : 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.',
            'subLevel': {
                0: {
                    'img': 'img/seeds-sect/seeds-sect_1.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-1'
                },
                1: {
                    'img': 'img/seeds-sect/seeds-sect_3.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-2'
                },
                2: {
                    'img': 'img/seeds-sect/seeds-sect_4.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-3'
                },
                3: {
                    'img': 'img/seeds-sect/seeds-sect_1.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-1'
                },
                4: {
                    'img': 'img/seeds-sect/seeds-sect_3.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-2'
                },
                5: {
                    'img': 'img/seeds-sect/seeds-sect_4.png',
                    'category': 'Семена овощей',
                    'name': 'Название продукта может быть в несколько строк',
                    'newPrice': '119,50 ₽',
                    'oldPrice': '162,50 ₽',
                    'conditions': 'Условия заказа',
                    'icon1': 'img/discount-goods-sect/star-regular.svg',
                    'icon2': 'img/discount-goods-sect/icon-2.svg',
                    'icon3': 'img/discount-goods-sect/icon-3.svg',
                    'discount': true,
                    'link': 'prod-card.html',
                    'alt': 'семена-3'
                },
            },
        },
    };


section.set-details-top
    h1.page-header Набор из 15 упаковок
    p.set-description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.

section.set-includes.prods-page.add-product-section.your-set-section
    each val, key in setInclude
        .set-item
            h2.set-includes_header=val.name
            if(val.subLevel)
                .row
                    each subVal, subKey in val.subLevel
                        .col-12.col-sm-6.col-lg-4.sets_card.justify-content-around.d-none.d-sm-flex
                            .slider_card.slider-card_narrow
                                .discount-card_top
                                    a(class='card-top_link' href=subVal.link)
                                    img(class='card-top_img' src=subVal.img alt=subVal.alt)
                                    .discount-block -10%
                                    .card-icons_block
                                        a(class='card-icon icon-star' href='#')
                                            img(class='i-svg' src=subVal.icon1 alt='звезда')
                                        a(class='card-icon' href='#')
                                            img(class='i-svg' src=subVal.icon2 alt='категория 1')
                                        a(class='card-icon' href='#')
                                            img(class='i-svg' src=subVal.icon3 alt='категория 2')
                                .discount-card_bottom
                                    .discount-card_description
                                        span.goods-category=subVal.category
                                        span.goods-title=subVal.name
                                        .row.discount-card_price
                                            .col-5
                                                .new-price_block
                                                    span.new-price=subVal.newPrice
                                                    a(class='order-conditions' href='#')=subVal.conditions
                                            .col-7
                                                span.old-price=subVal.oldPrice
                                    .row
                                        .col-6.buy-block
                                            .product-qty_block
                                                span.prod-qty_minus.product-qty_btn -
                                                input.product_qty.type_num('maxlength'='3' value=0)
                                                span.prod-qty_plus.product-qty_btn +
                                        .col-6.buy-btn-col
                                            a(class='btn card-btn buy-btn' href='javascript:void(0)') Купить


                .row
                    .col-12.slider.d-sm-none
                        .owl-carousel.discount-slider.owl-stage
                            each subVal, subKey in val.subLevel
                                .sets_card.d-flex.justify-content-around
                                    .slider_card.slider-card_narrow
                                        .discount-card_top
                                            a(class='card-top_link' href=subVal.link)
                                            img(class='card-top_img' src=subVal.img alt=subVal.alt)
                                            .discount-block -10%
                                            .card-icons_block
                                                a(class='card-icon icon-star' href='#')
                                                    img(class='i-svg' src=subVal.icon1 alt='звезда')
                                                a(class='card-icon' href='#')
                                                    img(class='i-svg' src=subVal.icon2 alt='категория 1')
                                                a(class='card-icon' href='#')
                                                    img(class='i-svg' src=subVal.icon3 alt='категория 2')
                                        .discount-card_bottom
                                            .discount-card_description
                                                span.goods-category=subVal.category
                                                span.goods-title=subVal.name
                                                .row.discount-card_price
                                                    .col-5
                                                        .new-price_block
                                                            span.new-price=subVal.newPrice
                                                            a(class='order-conditions' href='#')=subVal.conditions
                                                    .col-7
                                                        span.old-price=subVal.oldPrice
                                            .row
                                                .col-6.buy-block
                                                    .product-qty_block
                                                        span.prod-qty_minus.product-qty_btn -
                                                        input.product_qty.type_num('maxlength'='3' value=0)
                                                        span.prod-qty_plus.product-qty_btn +
                                                .col-6.buy-btn-col
                                                    a(class='btn card-btn buy-btn' href='javascript:void(0)') Купить

            p.set-description=val.txt
    .row
        .col.sets-btn-block.d-flex.flex-column.align-items-center
            a(class='btn card-btn buy-btn buy-btn_big' href='javascript:void(0)') Купить набор
            a(class='return-btn' href='javascript:void(0)') Вернуться к наборам

