-
    var cartCard = {
        0: {
            'removeList' : false,
            'item' :{
                0: {
                    'img': 'img/shopping-cart/prod-img.png',
                    'alt' : 'название товара',
                    'name': 'Название продукта может быть в несколько строк',
                    'icon1' : 'img/shopping-cart/delivery.svg',
                    'icon2' : 'img/shopping-cart/pay-card.svg',
                    'iconAlt1' : 'курьером',
                    'iconAlt2' : 'Картой',
                    'deliveryMethod' : 'Только курьером магазина',
                    'paymentMethod' : 'Только по предоплате',
                    'oldPrice': '9 999 ₽',
                    'newPrice': '9 999 ₽'
                },
                1: {
                    'img': 'img/shopping-cart/prod-img.png',
                    'alt' : 'название товара',
                    'name': 'Название продукта может быть в несколько строк',
                    'icon1' : 'img/shopping-cart/delivery.svg',
                    'icon2' : 'img/shopping-cart/pay-card.svg',
                    'iconAlt1' : 'курьером',
                    'iconAlt2' : 'Картой',
                    'deliveryMethod' : 'Только курьером магазина',
                    'paymentMethod' : 'Только по предоплате',
                    'oldPrice': '9 999 ₽',
                    'newPrice': '9 999 ₽'
                },
                2: {
                    'img': 'img/shopping-cart/prod-img.png',
                    'alt' : 'название товара',
                    'name': 'Название продукта может быть в несколько строк',
                    'icon1' : 'img/shopping-cart/delivery.svg',
                    'icon2' : 'img/shopping-cart/pay-card.svg',
                    'iconAlt1' : 'курьером',
                    'iconAlt2' : 'Картой',
                    'deliveryMethod' : 'Только курьером магазина',
                    'paymentMethod' : 'Только по предоплате',
                    'oldPrice': '9 999 ₽',
                    'newPrice': '9 999 ₽'
                },
            },
        }
    };

    var seeds = {
        0: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-1'
        },
        1: {
            'img': 'img/seeds-sect/seeds-sect_3.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-2'
        },
        2: {
            'img': 'img/seeds-sect/seeds-sect_4.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-3'
        },
        3: {
            'img': 'img/seeds-sect/seeds-sect_1.png',
            'category': 'Семена овощей',
            'name': 'Название продукта может быть в несколько строк',
            'newPrice': '119,50 ₽',
            'oldPrice': '162,50 ₽',
            'conditions': 'Условия заказа',
            'icon1': 'img/discount-goods-sect/star-regular.svg',
            'icon2': 'img/discount-goods-sect/icon-2.svg',
            'icon3': 'img/discount-goods-sect/icon-3.svg',
            'discount': true,
            'link': 'prod-card.html',
            'alt': 'семена-4'
        },
    };

section.cart-section
    .row
        .col
            h1.page-header Корзина
            span.cart_span Сформируйте единый заказ или разделите его на несколько списков
            .warning-valid-order
                span.cart_span У Вас уже есть действующий заказ.
                a(class='order-link' href='order-registration.html') Перейти к заказу

            each val, key in cartCard
                .row
                    .col.shop-cart-short
                        if(typeof (val.item) === 'object')
                            each subVal, subKey in val.item
                                .cart-product
                                    .row.align-items-center.prod-card_row
                                        .col-11.col-md-5.col-lg-5.d-flex.align-items-center.order-first
                                            label.cart-goods
                                                input(class='card-goods-input' type='checkbox')
                                                span
                                            .cart-card
                                                img(class='cart-card_img' src=subVal.img alt=subVal.alt)
                                                .goods-title=subVal.name

                                        .col-12.col-md-6.order-last.order-md-2.d-flex.justify-content-around.justify-content-md-beetween
                                            .row.justify-content-around.align-items-center.justify-content-md-between
                                                .col-7.col-sm-2.col-md-3.col-lg-4.align-items-center.d-flex.justify-content-start
                                                    .tooltip
                                                        .tooltip_block
                                                            img(class='i-svg cart-prod-icon' src=subVal.icon1 alt=subVal.iconAlt1)
                                                            .icon-tooltip
                                                                .icon-tooltip_content
                                                                    span.icon-tooltip_text=subVal.deliveryMethod
                                                        .tooltip_block
                                                            img(class='i-svg cart-prod-icon' src=subVal.icon2 alt=subVal.iconAlt2)
                                                            .icon-tooltip
                                                                .icon-tooltip_content
                                                                    span.icon-tooltip_text=subVal.paymentMethod
                                                .col-7.col-sm-3.col-md-4.col-lg-4.d-flex.justify-content-start
                                                    .product-qty_block
                                                        span.prod-qty_minus.product-qty_btn -
                                                        input.product_qty.type_num('maxlength'='3' value=0)
                                                        span.prod-qty_plus.product-qty_btn +

                                                .col-6.col-sm-4.col-md-5.col-lg-4.d-flex.justify-content-start
                                                    .row.align-items-center.justify-content-between
                                                        .col-10.d-flex.justify-content-end
                                                            .cart-price_block.align-items-center
                                                                span.old-price=subVal.oldPrice
                                                                span.new-price=subVal.newPrice
                                        .col-1.order-2.order-md-last.d-flex.justify-content-end.prod-card-remove_wrapper
                                            span.prod-card-remove

                        .cart-list_block
                            .row.align-items-center
                                .col-8.col-sm-4.col-md-3.col-lg-2.d-flex.align-items-center
                                    a.d-flex.align-items-center.justify-content-between(href='javascript:void(0)')
                                        img(src='img/shopping-cart/plus.svg' alt='Плюс')
                                        h4.add-list Добавить список
                                .col-sm-8.col-md-9.col-lg-10.add-list_border.d-none.d-sm-block
                                    .cart-list_border-short
    .row
        .col.d-flex.justify-content-end
            form(class='promo-form' action='#' name='promo')
                input(class='promo-form_input' type='text' placeholder='Введите промокод или сертификат')
    .row
        .col
            .total-amount
                ul.total-amount_list
                    li.total-amount_item
                        .row
                            .col.d-flex.justify-content-between.align-items-center
                                span.cart_span Стоимость всего заказа
                                span.list_sum-digits 999 999 ₽
                    li.total-amount_item
                        .row
                            .col.d-flex.justify-content-between.align-items-center
                                span.cart_span Сумма скидки:
                                span.list_sum-digits 9 999 ₽
                    li.total-amount_item
                        .row
                            .col.d-flex.justify-content-between.align-items-center
                                span.total-amount_span Итоговая сумма:
                                span.list_sum-digits.list_amount-digits 9 900 000 р.
    .row
        .col.d-flex.justify-content-around.justify-content-sm-end
            .cart-btn_block
                a(class='btn details-btn' href='#') Уточнить детали
                a(class='return-btn' href='javascript:void(0)') Очистить корзину

section.discount-goods.slider-section.cart-slider-section
    h2.page-header Специально для Вас
    .col-12.order2.order-lg-3.slider
        .owl-carousel.discount-slider.owl-stage
            each val, key in seeds
                .sets_card.d-flex.justify-content-around
                    .slider_card.slider-card_narrow
                        .discount-card_top
                            a(class='card-top_link' href=val.link)
                            img(class='card-top_img' src=val.img alt=val.alt)
                            .discount-block -10%
                            .card-icons_block
                                a(class='card-icon icon-star' href='#')
                                    img(class='i-svg' src=val.icon1 alt='звезда')
                                a(class='card-icon' href='#')
                                    img(class='i-svg' src=val.icon2 alt='категория 1')
                                a(class='card-icon' href='#')
                                    img(class='i-svg' src=val.icon3 alt='категория 2')
                        .discount-card_bottom
                            .discount-card_description
                                span.goods-category=val.category
                                span.goods-title=val.name
                                .row.discount-card_price
                                    .col-5
                                        .new-price_block
                                            span.new-price=val.newPrice
                                            a(class='order-conditions' href='#')=val.conditions
                                    .col-7
                                        span.old-price=val.oldPrice
                            .row
                                .col-6.buy-block
                                    .product-qty_block
                                        span.prod-qty_minus.product-qty_btn -
                                        input.product_qty.type_num('maxlength'='3' value=0)
                                        span.prod-qty_plus.product-qty_btn +
                                .col-6.buy-btn-col
                                    a(class='btn card-btn buy-btn' href='javascript:void(0)') Купить

